*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section1, .section2{
    margin: 10px;
}
.container-header{
    background-color: #1abc9c;
    padding: 30px;
    color: white;
    text-align: center;
    height: 170px;

}
.header p{
    line-height: 6;

}
.nav ul a:hover{
    cursor:pointer;
    background-color: aliceblue;
    color: black;
}
.header h1{
    /* line-height: 2; */
    margin-top: 10px;
}
.nav ul{
    display: flex;
    list-style: none;
    background-color: rgb(39, 20, 20);
    padding: 10px;
}
.nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.section{
    display: grid;
    grid-template-columns: 3fr 7fr;
}
.section1-container{
    background-color: #e9e2e2;
}
.container-image{
    background-color: #878282;
    height: 250px;
    /* margin: 10px; */
    padding: 10px;
}

.image{
    height: 220px;
}
.image2{
    background-color: #878282;
    height: 30%;
    margin: 10px 0px;
}
.footer{
    /* height: 200px; */
    background-color: #878282;
    padding: 30px;
    text-align: center;
}

